name: Deploy to AppEngine

on: push

defaults:
  run:
    shell: bash

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup app.yml
        run: |
          cp ./app ./app.yaml
          rm ./app
          mkdir www
          shopt -s extglob
          mv !(app.yaml|www) www

      - name: Gcloud Auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Deploy to AppEngine
        uses: google-github-actions/deploy-appengine@v0
        with:
          working_directory: ./
          deliverables: app.yaml
          promote: true